/* ----------------------------- CSS RESET ----------------------------- */
* {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: poppins;
    box-sizing: border-box;
}

/* ----------------------------- CONTAINER SECTION ----------------------------- */
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.7rem;
}
/* ----------------------------- SUB-CONTAINER SECTION ----------------------------- */
.container .sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 12, 28);
    background-color: rgb(43, 165, 226);
    height: 10rem;
    border-radius: 12px;
    box-shadow: 3px 7px 16px -5px black;
}
/* ----------------------------- SPAN SECTION ----------------------------- */
.container .sub-container span{
    font-size: 3.2rem;
}

.container .sub-container .time-text{
    font-size: 2rem;
    color: white;
}
