/* -------------------------- RESET ----------------------- */
* {
    font-size: 10px;
    font-family: finlandica;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* -------------------------- UTILITY CLASSES ------------------------- */
.drop-icon {
    font-size: 2rem;
    padding-left: 0.2rem;
    text-align: center;
}

/* -------------------------- HEADER SECTION ------------------------ */
header {
    width: 100%;
    height: 56px;
    padding: 12px 12px;
    background-color: rgb(0, 27, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------- LOGO SECTION ----------------------- */
header #logo p{
    font-size: 2rem;
    cursor: pointer;
}

/* -------------------------- NAVBAR SECTION ----------------------- */
header nav #navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav #navbar .nav-item {
    padding: 0px 2rem;
}

header nav #navbar a {
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
}

header nav #navbar a:hover,
.drop-icon {
    color: rgb(0, 131, 218);
}

/* ---------------------------- PRODUCT SECTION ---------------------------- */
#product-items {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(0, 27, 40);
    width: 25rem;
    padding-top: 2rem;
}

#product-items li {
    list-style-type: none;
    padding: 0.3rem 1rem;
}

#product-items li a {
    text-decoration: none;
    color: white;
}

/* ---------------------- Video Editor Items -------------------- */
#video-editor {
    display: flex;
    width: 25rem;
    position: relative;
}

#video-editor #vid-items {
    display: none;
    background-color: rgb(0, 27, 40);
    position: absolute;
    left: 100%;
    width: 20rem;
}

/* -------------------------------- CONTACT US ITEM ---------------------------- */
#contact:hover {
    color: rgb(0, 131, 218);
}

#contactItem {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(0, 27, 40);
    width: 20rem;
    justify-content: space-around;
    padding-top: 2rem;
}

#contactItem li {
    list-style-type: none;
    padding-left: 1rem;
    padding: 0.3rem 1rem;
}

#contactItem li a {
    text-decoration: none;
    color: white;
}

/* -------------------------- BUTTON SECTION ----------------------- */
header #account-button {
    border: 3px solid white;
    font-size: 2rem;
    border-radius: 37px;
    cursor: pointer;
    padding: 1rem 1.1rem;
}

/* ----------------------------- DROP DOWN MENU --------------------- */
#account-items {
    position: absolute;
    right: 0px;
    top: 5.6rem;
    height: 30rem;
    width: 26rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 27, 40);
}

#account-items .profile-photo .user-image {
    font-size: 7rem;
    border: 4px solid white;
    padding: 3rem 3.5rem;
    border-radius: 123px;
}

#account-items .profile-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#account-items .profile-photo p {
    font-size: 3rem;
    color: white;
}

.profile-btn input[type="button"] {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.profile-btn input[type="button"]:hover {
    color: rgb(0, 131, 218);
}
